<header class="primary-bg">
  <div class="dflex" style="justify-content: space-between; align-items: center;">
    <div class="dflex" style="align-items: center;gap: 3.75rem;">
      <div class="dflex" style="align-items: center;">
        <img src="../assets/images/clock.png" style="margin-right: 0.625rem;" alt="" srcset="">
        <p>24/7 Always Open</p>
      </div>
      <div class="dflex" style="align-items: center;">
        <img src="../assets/images/phone.png" alt="" srcset="" style="margin-right: 0.625rem;">
        <p>24/7 Always Open</p>
      </div>
      <div class="dflex" style="align-items: center;">
        <img src="../assets/images/Vector (1).png" alt="" srcset="" style="margin-right: 0.625rem;">
        <p>24/7 Always Open</p>
      </div>
    </div>
    <div>
      <button class="login-btn header-btns" style="margin-right: 0.625rem;">Login or Signup</button>
      <button class="white-btn header-btns">Order Now</button>
    </div>
  </div>
</header>
<div class="heroBanner">
  <div class="bannerHeader">
    <img src="../assets/images/MyLogoHere.png" alt="" srcset="">
    <div class="navContainer">
      <ul>
        <li><a href="">Writers</a></li>
        <li><a href="">Samples</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">FAQs</a></li>
        <li><a href="">Why Us</a></li>
        <li><a href="">Reviews</a></li>
        <li><a href="">Blogs</a></li>
      </ul>
    </div>
  </div>

  <div class="bannerContent">
    <p class="banerHeading">Essay Blues? We sing a different tune and write it for you.</p>
    <button class="orderButton primary-bg">Order Now</button>
    <div class="features">
      <div class="dflex" style="align-items: center;flex-basis: 50%;padding-block: 1.5rem;">
        <div class="white-circle">
          <img src="../assets/images/Teacher.png" alt="" srcset="">
        </div>
        <div>
          <p class="title">250+</p>
          <p class="description">Academic Writing <br> Experts</p>
        </div>
      </div>
      <div class="dflex" style="align-items: center;flex-basis: 50%;padding-block: 1.5rem;">
        <div class="white-circle">
          <img src="../assets/images/Group 10 (1).png" alt="" srcset="">
        </div>
        <div>
          <p class="title">100%</p>
          <p class="description">Plagiarism Free <br> Content</p>
        </div>
      </div>
      <div class="dflex" style="align-items: center;flex-basis: 50%;padding-block: 1.5rem;">
        <div class="white-circle">
          <img src="../assets/images/Group 10.png" alt="" srcset="">
        </div>
        <div>
          <p class="title">250+</p>
          <p class="description">Money Back <br> Guarantee</p>
        </div>
      </div>
      <div class="dflex" style="align-items: center;flex-basis: 50%;padding-block: 1.5rem;">
        <div class="white-circle">
          <img src="../assets/images/Group 12.png" alt="" srcset="">
        </div>
        <div>
          <p class="title">50%</p>
          <p class="description">Prepay Upfront - Half <br> After We Deliver</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="SecondSection">
  <img class="dots" src="../assets/images/dots.png" alt="" srcset="">
  <img class="small-bg" src="../assets/images/bg-small.png" alt="" srcset="">
  <p class="title">Here is why students trust us with their papers</p>
  <div class="cardWrapper">
    <div class="card active">
      <div>
        <div class="circle">
          <img src="../assets/images/Group 16.png" alt="" srcset="">
        </div>
        <p class="title">Premium Quality</p>
        <p class="description">World-class native English-speaking writers with advanced degrees at elite U.S. schools.
          We
          have expertise in all
          academic subjects. All writing is custom content and high quality.
        </p>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="circle">
          <img src="../assets/images/Group 16.png" alt="" srcset="">
        </div>
        <p class="title">Premium Quality</p>
        <p class="description">World-class native English-speaking writers with advanced degrees at elite U.S. schools.
          We
          have expertise in all
          academic subjects. All writing is custom content and high quality.
        </p>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="circle">
          <img src="../assets/images/Group 16.png" alt="" srcset="">
        </div>
        <p class="title">Premium Quality</p>
        <p class="description">World-class native English-speaking writers with advanced degrees at elite U.S. schools.
          We
          have expertise in all
          academic subjects. All writing is custom content and high quality.
        </p>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="circle">
          <img src="../assets/images/Group 16.png" alt="" srcset="">
        </div>
        <p class="title">Premium Quality</p>
        <p class="description">World-class native English-speaking writers with advanced degrees at elite U.S. schools.
          We
          have expertise in all
          academic subjects. All writing is custom content and high quality.
        </p>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="circle">
          <img src="../assets/images/Group 16.png" alt="" srcset="">
        </div>
        <p class="title">Premium Quality</p>
        <p class="description">World-class native English-speaking writers with advanced degrees at elite U.S. schools.
          We
          have expertise in all
          academic subjects. All writing is custom content and high quality.
        </p>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="circle">
          <img src="../assets/images/Group 16.png" alt="" srcset="">
        </div>
        <p class="title">Premium Quality</p>
        <p class="description">World-class native English-speaking writers with advanced degrees at elite U.S. schools.
          We
          have expertise in all
          academic subjects. All writing is custom content and high quality.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ThirdSection">
  <p class="title">Essay writing services we offer</p>
  <div class="sliderButtons">
    <button class="swiper-button-prev1 slider-button">
      <img src="../assets/images/rightSliderArrow.png" style="transform: rotate(-180deg);" alt="" srcset="">
    </button>
    <button class="swiper-button-next1 slider-button">
      <img src="../assets/images/rightSliderArrow.png" alt="" srcset="">
    </button>
  </div>
  <div class="sliderCont">
    <img src="../assets/images/Ornament.svg" class="ornaSLider" alt="" srcset="">
    <img src="../assets/images/dots2.png" class="orna2" alt="" srcset="">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">

          <div class="card active">
            <div>
              <div class="circle">
                <p>1</p>
              </div>
              <p class="title">Assignments</p>
              <p class="description">
                All academic and business writing simply has to have absolutely perfect grammar, punctuation, spelling,
                formatting, and composition. Our experts proofread and edit your project with a detailed eye and with
                complete knowledge of all writing and style conventions. Proofreading sets any writing apart from
                “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case study, book
                reviews and argumentative essays.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">

          <div class="card">
            <div>
              <div class="circle">
                <p>1</p>
              </div>
              <p class="title">Essays</p>
              <p class="description">
                All academic and business writing simply has to have absolutely perfect grammar, punctuation, spelling,
                formatting, and composition. Our experts proofread and edit your project with a detailed eye and with
                complete knowledge of all writing and style conventions. Proofreading sets any writing apart from
                “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case study, book
                reviews and argumentative essays.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">

          <div class="card">
            <div>
              <div class="circle">
                <p>1</p>
              </div>
              <p class="title">Dissertations</p>
              <p class="description">
                All academic and business writing simply has to have absolutely perfect grammar, punctuation, spelling,
                formatting, and composition. Our experts proofread and edit your project with a detailed eye and with
                complete knowledge of all writing and style conventions. Proofreading sets any writing apart from
                “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case study, book
                reviews and argumentative essays.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">

          <div class="card">
            <div>
              <div class="circle">
                <p>1</p>
              </div>
              <p class="title">Premium Quality</p>
              <p class="description">
                All academic and business writing simply has to have absolutely perfect grammar, punctuation, spelling,
                formatting, and composition. Our experts proofread and edit your project with a detailed eye and with
                complete knowledge of all writing and style conventions. Proofreading sets any writing apart from
                “acceptable” and makes it exceptional. We can handle lab reports, academic papers, case study, book
                reviews and argumentative essays.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="FAQ-section">
  <img src="../assets/images/dots2.png" class="dots" alt="" srcset="">
  <p class="title">Frequently asked questions</p>
  <div style="display: grid;place-items:center;">
    <div class="quesCard">
      <div>
        <p class="Q">
          Q.
        </p>
        <p class="question">I need someone to write my essay for me, who can help me?</p>
      </div>
      <img src="../assets/images/icon.svg" alt="" srcset="">
    </div>
    <div class="quesCard">
      <div>
        <p class="Q">
          Q.
        </p>
        <p class="question">What you should not write in a college essay?</p>
      </div>
      <img src="../assets/images/icon.svg" alt="" srcset="">
    </div>
    <div class="quesCard">
      <div>
        <p class="Q">
          Q.
        </p>
        <p class="question">Can you write my essay for free?</p>
      </div>
      <img src="../assets/images/icon.svg" alt="" srcset="">
    </div>
  </div>
</section>

<section class="services">
  <p class="title">Essay writer - custom essay writing services</p>
  <div class="wrapper">
    <div class="scroll-Container">
      <div [ngClass]="i == activeTab.index ? 'active' : ''" *ngFor="let item of services;let i =index" class="item"
        (click)="selectTab(item)">
        <p>How can an Essay Writing Service help you write a college essay?</p>
      </div>
    </div>
    <div class="leftScrollContainer">
      <div>
        <p>
          {{activeTab.data}}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="OrderSection">
  <p class="sub">Follow the steps to place your order!</p>
  <p class="title">Calculate Price</p>
  <div>
    <div class="steps"></div>
    <div class="steps"></div>
    <div class="steps"></div>
    <div class="orderForm">
      <div class="upperForm">
        <div class="form-control">
          <label for="">Email Email Address *</label>
          <input type="email" name="" id="">
        </div>
        <div class="form-control">
          <label for="">Phone Number *</label>
          <div style="display: flex;gap: 1rem;">
            <select name="" id="" style="max-width: fit-content;">
              <option value="us">us</option>
            </select>
            <input type="text">
          </div>
        </div>
        <p class="privacy">We hate spam as much as you do. We will Never sell, rent or share your email address and
          phone number.</p>
      </div>
      <div class="divider">
        <p>Calculate Price</p>
      </div>
      <div class="lowerForm">
        <div class="form-control">
          <label for="">Document Type *</label>
          <select name="" id="">
            <option value="">What can we do for you?</option>
          </select>
        </div>
        <div class="form-control">
          <label for="">Academic Level *</label>
          <select name="" id="">
            <option value="">You study at?</option>
          </select>
        </div>
        <div style="display: flex;">
          <div>
            <label for="">Number of pages *</label>
            <div class="form-control button-input">
              <button>-</button>
              <input type="text">
              <button>+</button>
            </div>
          </div>
          <div class="form-control">
            <label for="">Deadline *</label>
            <input type="datetime-local" name="" id="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>